@import "tailwindcss";

@layer base {
  html, body, #root {
    height: 100%;
    height: -webkit-fill-available;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  button, a {
    touch-action: manipulation;
  }
}
